.main-section {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.1);
	width: 1400px;
	height: 940px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 130px;
	margin-bottom: 130px;
}

.main-title {
	font-family: 'Playfair Display', serif;
	color: #171717;
	font-size: 42px;
	font-weight: 400;
	text-align: left;
	display: block;
	margin: 0;
	padding-top: 132px;
	padding-left: 122px;
}

.paragraph {
	font-family: 'Lato', sans-serif;
	color:  #171717;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	letter-spacing: 0.97px;
	padding-left: 120px;
	padding-right: 130px;
	margin-top: 22px;
}

.first-paragraph {
	line-height: 34px;
/*	position: relative;
*/}

.first-paragraph::first-letter {
	font-family: "PlayfairDisplay";
	font-size: 118px;
	font-weight: 400;
	/*	position: absolute; */
	float: left;
	margin-bottom: 10px;
	margin-right: 25px;
	margin-top: 33px;
}

.second-paragraph,
.third-paragraph {
	line-height: 35px;
	margin-top: 34px;
	margin-bottom: 10px;
}

.blockquote {
	font-family: 'Lato', sans-serif;
	color:  #171717;
	/*font-style: italic;*/
	font-size: 26px;
	letter-spacing: 0.45px;
	line-height: 34px;
	margin: 0;
	margin-top: 21px;
	padding: 0;
	-webkit-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	-o-transform: skewX(-10deg);
	transform: skewX(-10deg);
	font-weight: 300;
}

span {
	font-size: 60px;
	font-weight: 400;
	padding-left: 125px;
	padding-right: 24px;
}

.button {
	font-family: 'Lato', sans-serif;
	color: #eaa258;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 3.8px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	box-sizing:  border-box;
	display: inline-block;
	border-width: 3px;
	border-color: #eaa258;
	border-style: solid;
	padding: 22px 70px;
	margin-left: 121px;
	margin-top: 35px;
}

.button:hover {
	background-color: #fcd0a2;
}

.button:active {
	transform: scale(0.95);
}